@import './variables';

.header{
    position: sticky;
    background-color: $darker-color;
    height: 90px;
    width: 100%;
    padding: 1rem 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;

    &__atext{
        color: $primary-color;
        font-size: $f-2x;
        font-weight: $bold;
        font-style: italic;
    }

    &__btext{
        color: $light-color;
        font-size: $f-1x;
        font-weight: $extra-light;
        margin-left: 3px;
        letter-spacing: 2px;
    }
}

.socialmedia{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;

    &__item{
        margin-left: 1.2rem;

        &--link{
            font-size: 1.2rem;
        }
    }

    &__menu{
        visibility: hidden;
    }
}


@media only screen and (max-width: 768px) {
    .socialmedia__menu{
        visibility: visible;
    }
    .socialmedia__item{
        visibility: hidden;
    }
  }