.logoicon{
    height: 3rem;
    width: 3rem;
    
    
    &__fill0{
        fill:#6338CC;
        fill-rule:nonzero;
        
    }
    &__fill1{
        fill:white;
        fill-rule:nonzero;
    }

}