@import './variables';
@import './header';
@import './logo';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
};

body{
    background-color: $dark-color;
    @include fontstack($f-1x, $bold);
}

a{
    font-style: none;
    font-size: 2rem;
    color: $light-color;
    cursor: pointer;
    transition: color ease-in-out 200ms;

    &:hover{
        color: $primary-color;
    }
}
main{
    height: 100%;
    margin: 0 20%;    
}
.imagecontainer{
    margin-top: 1rem;
    &__item{
        height: 300px;
        margin-top: -4px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
        object-fit: cover;
        border-radius: 2%;
        box-shadow: 0px 0px 15px 1px $darker-color;
        

        &--landscape{
            width: 400px;
            object-fit: cover;
            object-position: center;
        }
    }

}
